# Python cache and object files
__pycache__/
*.py[cod]

# Coverage.py
.coverage
.cov
coverage.xml
/report/coverage

# mypy
/report/typing

# pytest
/report/unit

# setuptools
/build/**/*.*
/dist/**/*.*
/*.egg-info

# Dependencies
!requirements.txt

# Sphinx
doc/_build/
doc/pyDummy/**/*.*
!doc/pyDummy/index.rst

# BuildTheDocs
doc/_theme/**/*.*

# IntelliJ project files
/.idea/workspace.xml

# Git files
!.git*
