name: Verification of Pipeline Templates (Namespace Package)

on:
  push:
  workflow_dispatch:

jobs:
  NamespacePackage:
    uses: pyTooling/Actions/.github/workflows/CompletePipeline.yml@dev
    with:
      package_namespace: 'myFramework'
      package_name:      'Extension'
      unittest_python_version_list: '3.11 3.12 3.13 3.14 pypy-3.11'
      bandit:            'true'
      pylint:            'true'
      codecov:           'true'
      codacy:            'true'
      dorny:             'true'
      cleanup:           'false'
    secrets:
      PYPI_TOKEN:    ${{ secrets.PYPI_TOKEN }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      CODACY_TOKEN:  ${{ secrets.CODACY_TOKEN }}
